<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="drupal_csp">
  <description>Default PHP CodeSniffer configuration for Drupal CSP Module.</description>

  <arg name="extensions" value="inc,install,module,php,test,yml"/>
  <file>.</file>

  <rule ref="Drupal"/>
  <rule ref="Drupal.Commenting.DocComment.MissingShort">
    <exclude-pattern>tests/*</exclude-pattern>
  </rule>
  <rule ref="Drupal.Commenting.InlineComment.SpacingAfter">
    <exclude-pattern>src/*</exclude-pattern>
  </rule>


</ruleset>
